---
export interface Props {
  title: string;
  description: string;
  url: URL;
}

const { title, description, url } = Astro.props;
---

<meta charset="utf-8" />

<link
  rel="sitemap"
  href="/sitemap-index.xml"
/>

<meta
  name="viewport"
  content="width=device-width"
/>

<meta
  name="generator"
  content="Astro"
/>

<title>{title}</title>

<meta
  name="description"
  content={description}
/>

<meta
  name="author"
  content="Dixon Sean Low Yan Feng"
/>

<link
  rel="canonical"
  href={url}
/>

<meta
  name="robots"
  content="index, follow"
/>

<!-- Favicons -->
<link
  rel="icon"
  type="image/png"
  href="/favicons/favicon-96x96.png"
  sizes="96x96"
/>

<link
  rel="icon"
  type="image/svg+xml"
  href="/favicons/favicon.svg"
/>

<link
  rel="shortcut icon"
  href="/favicons/favicon.ico"
/>

<link
  rel="apple-touch-icon"
  sizes="180x180"
  href="/favicons/apple-touch-icon.png"
/>

<meta
  name="apple-mobile-web-app-title"
  content="dixslyf"
/>

<link
  rel="manifest"
  href="/favicons/site.webmanifest"
/>

<!-- Open graph -->
<meta
  property="og:type"
  content="website"
/>

<meta
  property="og:title"
  content={title}
/>

<meta
  property="og:description"
  content={description}
/>

<meta
  property="og:url"
  content={url}
/>

<!-- Requires a full URL (relative path will not work!) -->
<meta
  property="og:image"
  content={new URL("/open-graph/image.png", Astro.site)}
/>
